<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIMATE</title>
    <link rel="stylesheet" href="{% static 'analysis/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'analysis/css/style.css' %}">

</head>
<body>
    <div class="container mt-5">
        <h2 class ="text-center alert alert-dark"> Earth Skin Temperature Prediction Kathmandu</h2>
        {% block content %}{% endblock content %}

    </div>

    
    <script src="{% static 'analysis/js/jquery.js'%}"></script>
    <script src="{% static 'analysis/js/popper.js'%}"></script>
    <script src="{% static 'analysis/js/bootstrap.js'%}"></script>
    
</body>
</html>