{% extends 'analysis/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class='alert alert-info'>Input the Date</h4>
        <form action="" method="post">
            {% csrf_token %}
            <label for="id_DATE">Date:</label>
            <input type="date" id="id_DATE" name="DATE" required><br><br>

            <label for="id_DATE">PS:</label>
            <input type="number" id="id_PS" name="PS" required><br><br>

            <label for="id_DATE">QV2M:</label>
            <input type="number" id="id_QV2M" name="QV2M" required><br><br>

            <label for="id_DATE">WS10M:</label>
            <input type="number" id="id_WS10M" name="WS10M" required><br><br>


            <input type="submit" value="Forecast">

            

        </form>

    </div>
</div>
{% endblock content %}
